*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.head-web{
    background-color: rgb(156, 158, 160);    
}
.body-web{
    background-color: #c1dceb;
}
header{
    width: 100%;
    height: 800px;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(176, 68%, 74%,0.5), hsl(219, 67%, 72%,0.4), hsl(240, 51%, 67%,0.4)), url(../images/hobbies.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(176, 68%, 74%,0.6), hsl(219, 67%, 72%,0.6), hsl(240, 51%, 67%,0.6)), url(../images/hobbies.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 20px 0 0;
}
nav>a{
    color: azure;
    font-weight: bold;
    text-decoration: none;
    margin: 15px;
    font-size: 20px;
    font-weight: 450;
}
/*#wave{
    width: 100%;
    bottom: 0;
    position: absolute;
}*/
.container{
    padding: 20px 0;
    width: 80%;
    max-width: 1000px;
    margin: auto;
}
.container-about-us{
    display: flex;
    justify-content: space-evenly;
    
}
.container-about-us h3{
    color: darkslategray;
    border:2px solid rgba(185, 19, 19, 0.5);
}
.container-about-us p{
    color: rgb(10, 100, 47);
}
.contenido-texto h3{
    margin-bottom: 5px;
}
.contenido-texto p{
    margin-bottom: 25px;
}
.contenido-texto h3 span{
    color: rgb(22, 92, 223);
    background:snow;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    border:2px solid rgba(185, 19, 19, 0.5);
}
.contenido-texto h3:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.text-header{
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}
.text-header h1{
    font-size: 70px;
    font-weight: 400;
    color: azure;
}
.text-header h2{
    font-size: 30px;
    font-weight: 400;
    color: azure;
}
.title{
    font-size: 30px;
    font-weight: 450;
    color:rgb(62, 62, 224);
    text-align: center;
    margin-bottom: 40px;
}
.things{
    background-color:#c1dceb;
}
.gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.gallery h4{
    color: rgb(7, 7, 145);
    cursor: pointer;
}

footer{
    /*background-color: rgb(7, 126, 126);*/
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color:#fcfcfc;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 60px;
}
.container-footer{
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    width: 90%;
}